<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611655711283-1rbc33njs5idmoffgemjbiil9as52rka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611655711283-1rbc33njs5idmoffgemjbiil9as52rka</string>
	<key>API_KEY</key>
	<string>AIzaSyBeqOzQisA-ZybJiQbHobQxFqmVp6Mx6-M</string>
	<key>GCM_SENDER_ID</key>
	<string>611655711283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodWasteManagement</string>
	<key>PROJECT_ID</key>
	<string>helping-hand-3f86a</string>
	<key>STORAGE_BUCKET</key>
	<string>helping-hand-3f86a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611655711283:ios:d72dcd70b2835f62428146</string>
</dict>
</plist>